.theme-turquoise header figure span {
	background: $turquoise;
}

.theme-turquoise a {
	color: $turquoise;
}

.theme-turquoise a:hover, .theme-turquoise a:active {
	color: darken($turquoise, 10);
}

.theme-green header figure span {
	background: $green;
}

.theme-green a {
	color: $green;
}

.theme-green a:hover, .theme-green a:active {
	color: darken($green, 10);
}

.theme-blue header figure span {
	background: $blue;
}

.theme-blue a {
	color: $blue;
}

.theme-blue a:hover, .theme-white blue a:active {
	color: darken($blue, 10);
}

.theme-dark-blue header figure span {
	background: $darkBlue;
}

.theme-dark-blue a {
	color: $darkBlue;
}

.theme-dark-blue a:hover, .theme-dark-blue a:active {
	color: darken($darkBlue, 10);
}

.theme-purple header figure span {
	background: $purple;
}

.theme-purple a {
	color: $purple;
}

.theme-purple a:hover, .theme-purple a:active {
	color: darken($purple, 10);
}

.theme-yellow header figure span {
	background: $yellow;
}

.theme-yellow a {
	color: $yellow;
}

.theme-yellow a:hover, .theme-yellow a:active {
	color: darken($yellow, 10);
}

.theme-orange header figure span {
	background: $orange;
}

.theme-orange a {
	color: $orange;
}

.theme-orange a:hover, .theme-orange a:active {
	color: darken($orange, 10);
}

.theme-red header figure span {
	background: $red;
}

.theme-red a {
	color: $red;
}

.theme-red a:hover, .theme-red a:active {
	color: darken($red, 10);
}