$white: #fff;
$grey: hsl(10, 1%, 52%);
$lightGrey: hsl(10, 1%, 92%);
$darkGrey: hsl(10, 1%, 22%);
$green: hsl(151, 65%, 60%);
$blue: hsl(216, 65%, 60%);
$orange: hsl(6, 90%, 70%);
$purple: hsl(260, 38%, 56%);

$postFont: 'Open Sans', sans-serif;
$headerFont: 'Open Sans', sans-serif;
$codeFont: Monaco, Consolas, monospace;

$baseTextColor: $darkGrey;
$primaryColor: $blue;
$secondaryColor: $green;